{% extends 'layout.html' %} {% block content %}
<h1>Join our mailing list</h1>
<br />
<form action="/add.html" method="POST" class="box">
  <div>
    <label class="form-label">Email address</label>
    <br />
    <input
      name="email"
      type="email"
      class="form-control"
      id="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
      placeholder="name@example.com"
    />
  </div>
  <div>
    <label class="form-label">Name</label>
    <br />
    <input class="form-control" name="name" id="name" rows="1"></input>
  </div>
  <br />
  <div>
    <button type="submit" class="btn">Submit</button>
  </div>
  {% if error_message %}
  <div>
    <label class="form-label">{{ error_message }}</label>
  </div>
  {% elif is_done %}
  <div>
    <label class="form-label">Email submitted</label>
  </div>
  {% endif %}
</form>
{% endblock %}
